.editorconfig          export-ignore
.gitattributes         export-ignore
/.github/              export-ignore
.gitignore             export-ignore
.php-cs-fixer.dist.php export-ignore
/phpstan-baseline.neon export-ignore
/phpstan.neon.dist     export-ignore
/Makefile              export-ignore
/vendor-bin/           export-ignore
